.home{
   display: flex;
   justify-content: center;
   /* align-items: center; */
   /* flex-direction: column; */
   padding: 1rem;
   gap: 2rem;
}

.dark{
   background-color: #262626;
   color: #fff;
}

.home .btns{
   display: flex;
   gap: 1rem;
}

.home .btns button {
   padding: .4rem 1rem;
   border-radius: 40px;
   border: none;
   background-color: #262626;
   color: #fff000;
}

.home > ul{
   display: flex;
   flex-direction: column;
   gap: .5rem;
   list-style: none;
}

.home > ul > li{
   background-color: #fff000;
   border: 1px solid #262626;
   padding: .4rem 1rem;
   border-radius: 40px;
}